body {
    background-color: #FFFFFF;
}

a { /* Цвет ссылок */
    color: darkolivegreen;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    float: right;
    margin-right: 40px;
}

#header ul {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    font-size: 18px;
    list-style: none;
    float: right;
}

#header ul li {
    float: right;
    padding: 0px 50px 20px 50px;
    margin: 2px;
    text-decoration: underline;
}

#header ul li a {
    text-decoration: none;
    margin: 7px;
    display: block;
}

#header ul li a:hover { /* всё, что будет при наведении */
    outline: 2px solid green; /* рамка вокруг надписи */
    outline-offset: 5px;
}

#logo_align {
    padding-left: 20px;
}

#info_align {
    margin-top: -175px;
    float: right;
    margin-right: 255px;
    margin-bottom: 200px;
}

input[type=submit] { /* кнопка Отправить */
    padding:5px 15px; 
    font-family: Arial;
    font-size: 16px;
    background:#66b266; 
    color:aliceblue;
    cursor:pointer;
    border-radius: 5px; 
}



